.container-1{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
}
.outer-div{
    border:1px solid black;
    max-width: 75%;
    min-width: 75%;
}
.heading-1{
    border: 1px solid black;
}
.button-1{
    border: 1px solid black;
}
#output-1{
    border: 1px solid black;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container-2{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
}
.heading-2{
    border: 1px solid black;
}
.button-2{
    border: 1px solid black;
}
#output-2{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
}
.container-3{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
}
.heading-3{
    border: 1px solid black;
}
.button-3{
    border: 1px solid black;
}
#output-3{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
}